
<%# PDF et Return sticky-top %>
<div class="d-flex w-100 justify-content-between align-items-center py-4 px-2 sticky sticky-top-height">
  <%= link_to dashboard_path,  class:"px-4 py-3 text-dark text-decoration-none" do%>
  <i class="fa-sharp fa-solid fa-arrow-left me-3"></i> Retour
  <% end %>
  <%= link_to 'Télécharger PDF', pdf_travel_path(@travel, format: :pdf, image: 'toto'), class: "bg-dark px-4 py-3 text-white text-decoration-none", target: '_blank' %>

</div>

<%# Image %>
<div style="background-image: url(<%= @travel.presentation_img_url%>); height: 60vh; background-size: cover; background-position: center;" class="w-100 d-flex align-items-center justify-content-center" id="top">
<%# Image de fond du haut, hauteur 60vh et width: 100% - object fit: cover %>
<h1 class="text-white"><%= @travel.theme %></h1>
</div>

<div class="container d-flex align-items-center justify-content-center py-5">
  <%= link_to "Pourquoi ?" , "#why", class: "rounded-pill text-secondary text-decoration-none px-3 py-2 mx-3  border border-secondary" %>
  <%= link_to "Itinéraire" , "#surroundMap", class: "rounded-pill text-secondary text-decoration-none px-3 py-2 mx-3 border border-secondary" %>
  <%= link_to "Déroulé",  "#timeline", class: "rounded-pill text-secondary text-decoration-none px-3 py-2 mx-3 border border-secondary"%>
  <%= link_to "Haut de page", "#top", class: "rounded-pill text-secondary text-decoration-none px-3 py-2 mx-3 border border-secondary" %>
</div>


<div class="container text-center py-5" id="why">
  <h2>Pourquoi <%= @travel.theme %> ? </h2>
    <%= @travel.parsed_description %>
  <div class="w-75 mx-auto text-center">
  </div>
</div>

<div class="container p-5" id="surroundMap">
  <% @markers = @travel.activities.map do |activitie| %>
    <% { lat: activitie.lat.to_f, lng: activitie.long.to_f } %>
  <% end %>
  <div style="width: 100%; height: 60vh ;"
    data-controller="map"
    id="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-coordinates-value="<%= @travel.step_coordinates %>">
  </div>
</div>


<div class="container py-5" id="timeline">

  <div class="timeline-background text-center">
    <h2>Le déroulé de votre voyage</h2>
      <div data-controller="timeline">
        <ul>
          <% @travel.grouped_activities.each do |key, value| %>
            <li data-target="timeline.item">
              <% value.each_with_index do |activity, index| %>
              <div>
                <p class="h2"><%= activity.jour if index == 0 %></p>
                <p><%= activity.title %></p>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
