<div class="container mb-5">
  <div class="justify-content-center align-items-center mt-3">
    <h3 class="text-center p-3"><strong>Vos voyages</strong></h3>

      <div class="row align-item-center justify-content-center">
        <% travels = Travel.where(user: current_user) %>

        <% travels.each do |t| %>
          <div class="col">
            <%= link_to travel_path(t) do %>
              <div class="card">
                <%= image_tag t.presentation_img_url, class: "card-img-top" %>

                <div class="card-body">
                  <p class="card-title text-center"><%= t.destination %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>

  <h1 class="p-4 text-center">Votre voyage:<%= @travel.destination %></h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="p-4">
        <div>
          Votre destination: <%= @travel.theme %>
        </div>

        <p>
      <%= description_cleaned = @travel&.description&.gsub(/["\\]/, '')&.slice(1..-2) %>
      <p><%=description_cleaned %></p>
        </p>
      </div>
    </div>

    <div class="col-md-6" id="surroundMap">
        <% @markers = @travel.activities.map do |activitie| %>
          <% { lat: activitie.lat.to_f, lng: activitie.long.to_f } %>
        <% end %>
        <div style="width: 100%; height: 500px;"
        data-controller="map"
        id="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-coordinates-value="<%= @travel.step_coordinates %>">
        </div>
    </div>
  </div>
    <% @travel.activities.each do |a| %>

      <div class="card p-3 mt-4">
      <div><h3><%= a.jour %></h3></div>
      <div>Activité : <%= a.title %></div>
      <div>Localisation : <%= a.localisation %></div>
      <div>Moyen de transport : <%= a.moyen_de_transport %></div>
      <div>Description : <%= a.description %>.</div>
      </div>

    <% end %>

  <%= link_to 'Télécharger PDF', pdf_travel_path(@travel, format: :pdf, image: 'toto'), class: 'btn btn-home mt-3 mb-5', target: '_blank' %>

</div>

<div id="mapScreenshot"></div>
