<div class="container">
  <%= form_with model: travel, url: search_path, html: { data: { action: "submit->loader#loading" } }, class: 'my-form-class mt-5' do |f| %>
    <div class="carousel slide" id="carouselExampleIndicators">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-group flex-column">
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :budget, 'low', id: 'budget-low' %>
                <%= f.label :budget_low, "Budget bas" %>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :budget, 'medium', id: 'budget-medium' %>
                <%= f.label :budget_medium, "Budget moyen" %>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :budget, 'high', id: 'budget-high' %>
                <%= f.label :budget_high, "Budget élevé" %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-group flex-column">
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :type_of_travelers, 'solo', id: 'travelers-solo' %>
                <%= f.label :travelers_solo, "Voyageurs en solo" %>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :type_of_travelers, 'couple', id: 'travelers-couple' %>
                <%= f.label :travelers_couple, "Couple" %>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :type_of_travelers, 'family', id: 'travelers-family' %>
                <%= f.label :travelers_family, "Famille" %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-group flex-column">
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :type_of_destination, 'beach', id: 'destination-beach' %>
                <%= f.label :destination_beach, "Plage" %>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :type_of_destination, 'city', id: 'destination-city' %>
                <%= f.label :destination_city, "Ville" %>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :type_of_destination, 'mountain', id: 'destination-mountain' %>
                <%= f.label :destination_mountain, "Montagne" %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-group flex-column">
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :duration, 'short', id: 'duration-short' %>
                <%= f.label :duration_short, "Courte durée" %>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :duration, 'medium', id: 'duration-medium' %>
                <%= f.label :duration_medium, "Durée moyenne" %>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :duration, 'long', id: 'duration-long' %>
                <%= f.label :duration_long, "Longue durée" %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-group flex-column">
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :season, 'spring', id: 'season-spring' %>
                <%= f.label :season_spring, "Printemps" %>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :season, 'summer', id: 'season-summer' %>
                <%= f.label :season_summer, "Été" %>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :season, 'autumn', id: 'season-autumn' %>
                <%= f.label :season_autumn, "Automne" %>
              </div>
            </div>
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-center">
                <%= f.radio_button :season, 'winter', id: 'season-winter' %>
                <%= f.label :season_winter, "Hiver" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="text-center mt-4">
      <%= f.submit "Soumettre", class: 'btn btn-home' %>
    </div>
  <% end %>
</div>
