Cards choix des destinations
<div class="container">
  <div class="cards mt-4">

    <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>

      <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>

      <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>

      <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>

      <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>

      <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>
      

<div class="container">
  <div class="row">
    <% params[:result].each do |destination| %>
      <div class="card col-2">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">

          <div class="card-body">
            <h5 class="card-title"><p><%= destination["country"] %></p></h5>
            <p class="card-text"><p><%= destination["city"] %></p></p>
            <a href="#" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
