Cards choix des destinations
<div class="container">
  <div class="cards mt-4">

    <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>

      <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>

      <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>

      <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>

      <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>

      <div class="card-destination-text">
      <div class="card-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3 class="card-title">Nom destination</h3>
        <%= link_to "Emmenez-moi !", dashboard_path, class: "btn-ok" %>
      </div>
        <p class=p-2>Scrapping d'Ermanno</p>
      </div>
      
  </div>
</div>
