<div class="container mt-3">
  <div class="row rowalign-item-center justify-content-center">
    <div class="cards">
      <% params[:result].each_with_index do |destination, index| %>
        <div class="card m-2 card-id">
          <img class="card-img-top" src="<%= destination["img_src"] %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><p><%= destination["pays"] %></p></h5>
            <p class="card-text"><p><%= destination["region"] %></p></p>
          </div>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal<%= index %>">En savoir plus</button>
        </div>

       <div class="modal" id="myModal<%= index %>" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><%= destination["pays"] %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              <img class="card-img-top" src="<%= destination["img_src"] %>" alt="Card image cap">
              <%= destination["text_content"] %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <%= link_to "Choisir cette destination", details_path(destination: destination['pays']), class: "btn btn-primary", data: { controller: "destinations", action: "click->destinations#selectElement", destinationChoice: destination["pays"] } %>
                <%# <button type="button" class="btn btn-primary">Choisir cette destination</button> %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
