<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path('gifhomepage.gif')%>)">
  <div class="container">
    <h1 class="text-center"><strong>Travel Flex, une autre idée du voyage</strong></h1>

    <p class="text-center">Concevoir mon voyage</p>
      <div class="cards-homepage mt-4">
        <div class="d-flex justify-content-center gap-3">
          <%= form_tag(search_path, method: "get") do %>
            <%= text_field_tag :destination, "Ma destination", class: 'text-center' %>
            <%= submit_tag "Go", class: "btn-home" %>
          <% end %>
          <%= link_to "Inspirez-moi", search_path, class: "btn-home" %>
        </div>
      </div>
  </div>
</div>
