<!DOCTYPE html>
<html>
  <head>
    <title>TravelFlex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  </head>

  <body data-controller="navbar" class="<%= "carouselExampleIndicators" if controller_name="pages" && action_name="search"  %>">
    <%= render "shared/navbar"%>
    <%= render "shared/flashes"%>

      <div class="<%= 'wrapper' unless controller_name == 'pages' && action_name == "dashboard" %>">
        <%= yield %>
      </div>

    <% unless controller_name == "pages" && action_name =="home"%>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
